@tailwind base;
@tailwind components;
@tailwind utilities;

.no-border input[type="password"], .no-border input[type="email"], .no-border input[type="text"] {
    border: none !important;
    padding: 0 !important;
}

.no-border input[type="password"]:focus, .no-border input[type="email"]:focus, .no-border input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}



